<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Project</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>registerservlet</display-name>
    <servlet-name>registerservlet</servlet-name>
    <servlet-class>com.mvc.dao.registerservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registerservlet</servlet-name>
    <url-pattern>/registerservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Registerservlet</display-name>
    <servlet-name>Registerservlet</servlet-name>
    <servlet-class>com.mvc.controller.Registerservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registerservlet</servlet-name>
    <url-pattern>/Registerservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.mvc.controller.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.mvc.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLoginServlet</display-name>
    <servlet-name>AdminLoginServlet</servlet-name>
    <servlet-class>com.mvc.controller.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginServlet</servlet-name>
    <url-pattern>/AdminLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminloginServlet</display-name>
    <servlet-name>AdminloginServlet</servlet-name>
    <servlet-class>com.mvc.controller.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminloginServlet</servlet-name>
    <url-pattern>/AdminloginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AEventServlet</display-name>
    <servlet-name>AEventServlet</servlet-name>
    <servlet-class>com.mvc.controller.AEventServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AEventServlet</servlet-name>
    <url-pattern>/AEventServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UEventServlet</display-name>
    <servlet-name>UEventServlet</servlet-name>
    <servlet-class>com.mvc.controller.UEventServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UEventServlet</servlet-name>
    <url-pattern>/UEventServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DEventServlet</display-name>
    <servlet-name>DEventServlet</servlet-name>
    <servlet-class>com.mvc.controller.DEventServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DEventServlet</servlet-name>
    <url-pattern>/DEventServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ACampaignServlet</display-name>
    <servlet-name>ACampaignServlet</servlet-name>
    <servlet-class>com.mvc.controller.ACampaignServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ACampaignServlet</servlet-name>
    <url-pattern>/ACampaignServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UCampaignServlet</display-name>
    <servlet-name>UCampaignServlet</servlet-name>
    <servlet-class>com.mvc.controller.UCampaignServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UCampaignServlet</servlet-name>
    <url-pattern>/UCampaignServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DCampaignServlet</display-name>
    <servlet-name>DCampaignServlet</servlet-name>
    <servlet-class>com.mvc.controller.DCampaignServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DCampaignServlet</servlet-name>
    <url-pattern>/DCampaignServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IdeaServlet</display-name>
    <servlet-name>IdeaServlet</servlet-name>
    <servlet-class>com.mvc.controller.IdeaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IdeaServlet</servlet-name>
    <url-pattern>/IdeaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SuggestionServlet</display-name>
    <servlet-name>SuggestionServlet</servlet-name>
    <servlet-class>com.mvc.controller.SuggestionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SuggestionServlet</servlet-name>
    <url-pattern>/SuggestionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchServlet</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>com.mvc.controller.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/SearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Adminlogout</display-name>
    <servlet-name>Adminlogout</servlet-name>
    <servlet-class>com.mvc.controller.Adminlogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Adminlogout</servlet-name>
    <url-pattern>/Adminlogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UClubServlet</display-name>
    <servlet-name>UClubServlet</servlet-name>
    <servlet-class>com.mvc.controller.UClubServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UClubServlet</servlet-name>
    <url-pattern>/UClubServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DClubServlet</display-name>
    <servlet-name>DClubServlet</servlet-name>
    <servlet-class>com.mvc.controller.DClubServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DClubServlet</servlet-name>
    <url-pattern>/DClubServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JoinClubServlet</display-name>
    <servlet-name>JoinClubServlet</servlet-name>
    <servlet-class>com.mvc.controller.JoinClubServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JoinClubServlet</servlet-name>
    <url-pattern>/JoinClubServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgetPassServlet</display-name>
    <servlet-name>ForgetPassServlet</servlet-name>
    <servlet-class>com.mvc.controller.ForgetPassServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgetPassServlet</servlet-name>
    <url-pattern>/ForgetPassServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LeaveClubServlet</display-name>
    <servlet-name>LeaveClubServlet</servlet-name>
    <servlet-class>com.mvc.controller.LeaveClubServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LeaveClubServlet</servlet-name>
    <url-pattern>/LeaveClubServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RMemberServlet</display-name>
    <servlet-name>RMemberServlet</servlet-name>
    <servlet-class>com.mvc.controller.RMemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RMemberServlet</servlet-name>
    <url-pattern>/RMemberServlet</url-pattern>
  </servlet-mapping>
</web-app>